{% extends "layout.html" %}

{% block content %}

<div class="about">


  <p> This site is intended to replace <a href="http://news.ycombinator.com/item?id=1103801">"Who's hiring"</a>
      <a href="http://news.ycombinator.com/item?id=759452">threads</a> on Hacker News.
      The idea of it came from <a href="http://news.ycombinator.com/item?id=1133360">this thread</a>.
  </p>

  <p>The site is written in <strong>Python</strong> on top of the <strong>Django</strong> 1.1 framework and is run on
     <strong>Google App Engine</strong> platform. 
     Full source of the site is available on <a href="http://github.com/maxnik/jobsforhackers">Github</a>.
     Feel free to send any feedback or questions to maxim.nikolenko googlemail.
  </p>
</div>

{% endblock %}
