<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=uft-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <!-- http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js -->
    <script type="text/javascript" src="/static/jquery-1.4.1.min.js"></script>
    <script type="text/javascript" src="/static/application.js"></script>
    <title></title>
  </head>
  <body>
  </body>
</html>
