{% extends "layout.html" %}
{% load job_helpers %}

{% block content %}

<ol class="jobs">
{% for job in jobs %}
  <li><a href="{% url jobs.views.show job.key.id %}-{{ job.title|slugify }}" class="job">{{ job.title }}</a> 
      published by <a href="{{ job.owner_profile_url }}">{{ job.hackernews_login }}</a> 
      {{ job.published_at|timesince }} ago
      {% show_job_actions job current_user is_current_user_admin %}
  </li>
{% empty %}
  <li>Be the first job publisher!</li>
{% endfor %}
</ol>

<ul class="pagination">
{% if prev %}
  <li><a href="{% url jobs.views.list %}?bookmark={{ prev }}" class="action">Previous page</a></li>
{% endif %}
{% if next %}
  <li><a href="{% url jobs.views.list %}?bookmark={{ next }}" class="action">Next page</a></li>
{% endif %}
</ul>

{% endblock %}
